.site-header {
  min-height: $spacing-unit * 1.865;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-title {
  @include relative-font-size(5.0);
  font-weight: 700;
  display: inline;
  float: none;
  color: $grey-color-dark;
}

h1, h2 {
  display: block;
  text-align: center;
  padding-top: 50px;
  font-weight: 700;
  color: $grey-color-dark;
}

.page-content img {
  border-radius: 10px;
  margin: 0% 15%;
  width: 70%;
}

.rgst-button {
  @include relative-font-size(1.24);

	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display: inline-block;
	color: white;
	padding:6px 24px;
	text-decoration:none;
}

.rgst-button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
  text-decoration: none;
}

.rgst-button:visited {
	color: white;
}

.rgst-button:active {
	position:relative;
	top:1px;
}
